<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="OrderExportRun" xsi:type="object">SwiftOtter\OrderExport\Console\Command\OrderExport</item>
            </argument>
        </arguments>
    </type>
    <type name="SwiftOtter\OrderExport\Action\CollectOrderData"> <!-- This is class has property collectors -->
        <arguments>
            <argument name="collectors" xsi:type="array"> <!-- This is property "that's given type hinting OrderDataCollectorInterface[]" -->
                <item name="order_header_data" xsi:type="object">SwiftOtter\OrderExport\Action\OrderDataCollector\OrdrerHeaderData</item> <!-- This is class has implementation or logic -->
                <item name="order_item_data" xsi:type="object">SwiftOtter\OrderExport\Action\OrderDataCollector\OrderItemData</item> <!-- This is class has implementation or logic -->
                <item name="export_header_data" xsi:type="object">SwiftOtter\OrderExport\Action\OrderDataCollector\ExportHeaderData</item> <!-- This is class has implementation or logic -->
            </argument>
        </arguments>
    </type>

    <type name="SwiftOtter\OrderExport\Action\GetOrderExportItems"> <!-- This is class has property allowedTypes -->
        <arguments>
            <argument name="allowedTypes" xsi:type="array"> <!-- This is property "that's given type hinting array []" -->
                <item name="simple" xsi:type="const">Magento\Catalog\Model\Product\Type::DEFAULT_TYPE</item> <!-- This is class has implementation or logic -->
                <item name="virtual" xsi:type="const">Magento\Catalog\Model\Product\Type::TYPE_VIRTUAL</item> <!-- This is class has implementation or logic -->
            </argument>
        </arguments>
    </type>
</config>